.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--lavender-grey);
    color: var(--space-indigo);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 30px;
}

.footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer a {
    color: var(--space-indigo);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer a:hover {
    color: var(--flag-red);
}