html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lavender-grey);
    width: 100%;
    margin: 0;
    padding: 5px 0;
    color: var(--space-indigo);
    position: relative;
    bottom: 0;
    z-index: 1000;
    height: 30px;
}

.footer ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer a {
    color: var(--space-indigo);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer a:hover {
    color: var(--flag-red);
}