#root {
  text-align: center;
}

body {
  margin-top: 100px;
}

.portfolio-title {
  margin: 0;
  font-size: 2.5rem;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

.portfolio-ordering {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.portfolio-sorting, .portfolio-filtering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
}

.portfolio-sorting {
  margin-top: 10px;
}

.portfolio-filtering {
  margin-bottom: 10px;
}

.sort-label, .filter-label {
  margin: 5px;
  font-weight: bold;
  color: var(--strawberry-red)
}

.sort-btn, .filter-btn {
  background-color: var(--platinum);
  color: var(--space-indigo);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.sort-btn:hover, .filter-btn:hover {
  background-color: var(--strawberry-red);
  color: var(--platinum);
}

.projects-grid {
  margin-bottom: 100px;
}