:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --space-indigo: #2B2D42;
  --lavender-grey: #8D99AE;
  --platinum: #EDF2F4;
  --strawberry-red: #EF233C;
  --flag-red: #D90429;

  background-color: var(--space-indigo);
  color: var(--platinum);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
